{% extends 'menus/base.html' %}
{% load static %}
{% block title %}Slots{% endblock %}
{% block head %}
    <style>
            .content {
                width: 100%;
                max-width: none;
                padding: 15px;
                margin: auto;
            }

            .form-input {
                width: 100%;
                max-width: 500px;
                padding: 15px;
                margin: auto;
            }

            .form-input .form-floating:focus-within {
                z-index: 2;
            }

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{% block bodyclass %}class="text-center bg-light"{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="readyBoard">
                    </div>
                </div>
            </div>

        </div>

        <!-- Betting page -->
        <div id="spinning" class="form-input" >
            <form method="post" id="bet-form">
                {% csrf_token %}
                <div class="mb-4" style="height: 57px;"></div>
                <h1 class="h3 mb-3 fw-normal">Bet</h1>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Insufficient funds
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col">
                        <div class="form-floating" style="padding: 2px;">
                            <input type="text" class="form-control" value="{{ user.current_balance }}"
                                   id="current-balance" disabled>
                            <label>Current balance</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating" style="padding: 2px;">
                            <input type="text" class="form-control" id="bet" pattern="[0-9]*?.[0-9]{0,2}"
                                   title="Enter a valid dollar amount" value="0">
                            <label>Bet</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="w-100 btn btn-lg btn-secondary mt-2" type="button" id="spin-btn" value="0">
                            Spin!
                        </button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Place bet</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="ending" class="form-input" hidden>
            <div class="row">
                <div id = "playing" >
                    <div class = "col" >
                        <h6>Outcome</h6>
                    </div>

                    <div class = "row w-50 justify-content-md-center" id = "symbols">

                    </div>
                    <div class = "row" id = "earnings">
                        Earnings
                    </div>
                </div>

                <button type="button" class="btn btn-small btn-primary w-100 m-1" id="play-again-btn" value="0">
                    Play again
                </button>
            </div>
        </div>
        <div class="row-sm-4">
            {% include 'menus/web_links.html' %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ session|json_script:"session" }}
    {{ user.username|json_script:"username" }}
    <script>staticPath = "{% static '' %}"</script>
    <script src="{% static 'slots/slots.js' %}" type="text/javascript"></script>
    <script src="{% static 'slots/listeners.js' %}" type="text/javascript"></script>
{% endblock %}
