{% extends 'menus/base.html' %}
{% block title %}How to Play Slots{% endblock %}
{% block content %}
    <div class="content">
        <h3>How to Play Slots</h3>
        <hr>
        <p>Slot machines are one of the simplest and most popular forms of gambling in the world. With each spin, the
        machine will display three random symbols to you. Digits 0 through 9, $, *, and X are the possible symbols with
        our slot machines. Your payout depends on two factors: the symbols you get and a random multiplier chosen before
        each spin. If you get extra lucky, you could get two, three, four, or even five times the standard payout!</p>
        <p>Here's how the payout is calculated:</p>
        <ul>
            <li>If you get two matching numbers, your payout increases 5x.</li>
            <li>If all three symbols are matching numbers, your payout increases 20x.</li>
            <br>
            <li>If you get one $, your payout is doubled.</li>
            <li>If you get two $, your payout is increases 10x.</li>
            <li>If all three symbols are $, your payout is increased 100x.</li>
            <br>
            <li>If you get two *, your payout increases 20x.</li>
            <li>If all three symbols are *, your payout increases 50x.</li>
            <br>
            <li>However, if any symbol on the board is an X, you win nothing.</li>
        </ul>
        <p>The above multipliers are then multiplied by the hidden value chosen at the start. This final multiplier is
        used to determine your payout.</p>
    </div>
{% endblock %}