{% extends 'menus/base.html' %}
{% block title %}Signup{% endblock %}
{% block head %}
    <style>
        .form-input {
            width: 100%;
            max-width: 600px;
            margin: auto;
            padding: 0 15px 15px;
        }

        .form-input .checkbox {
            font-weight: 400;
        }

        .form-input .form-floating:focus-within {
            z-index: 2;
        }
    </style>
{% endblock %}
{% block bodyclass %}class="text-center bg-light"{% endblock %}
{% block content %}
    <main class="form-input">
        <form>
            <div class="mb-4" style="height: 10px;"></div>
            <h1 class="h3 mb-3 fw-normal text-start">My account</h1>
            <hr>

            <div class="row">
                <div class="col">
                    <div class="form-floating" style="padding: 2px;">
                        <input type="text" class="form-control" value="{{ user.username }}" disabled>
                        <label>Username</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        <input type="text" class="form-control" value="{{ user.first_name }}" disabled>
                        <label>First name</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        <input type="text" class="form-control" value="{{ user.skill_level }}" disabled>
                        <label>Skill level</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        <textarea class="form-control" disabled>{{ user.bio }}</textarea>
                        <label>Bio</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating" style="padding: 2px;">
                        <input type="text" class="form-control" value="{{ user.email }}" disabled>
                        <label>Email</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        <input type="text" class="form-control" value="{{ user.last_name }}" disabled>
                        <label>Last name</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        <input type="text" class="form-control" value="{{ user.is_private|yesno:"Private,Public" }}"
                               disabled>
                        <label>Account type</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        <input type="text" class="form-control" value="{{ user.birthday }}" disabled>
                        <label>Birthday</label>
                    </div>
                </div>
            </div>
            <h1 class="h4 mt-3 mb-3 fw-normal text-start">Funds</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="form-floating" style="padding: 2px;">
                        <input type="text" class="form-control" value="{{ user.current_balance }}" disabled>
                        <label>Current balance</label>
                    </div>
                    <div class="dropdown w-100 mt-2">
                        <button class="btn btn-success dropdown-toggle w-100" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Add funds
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'add_funds_bank' %}">From bank</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_funds_crypto' %}">From crypto wallet</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating" style="padding: 2px;">
                        <input type="text" class="form-control" value="{{ user.total_earnings }}" disabled>
                        <label>Total earnings</label>
                    </div>
                    <div class="mt-2 w-100">
                        <a class="btn btn-primary w-100" href="{% url 'withdraw_funds' %}" role="button">Withdraw funds</a>
                    </div>
                </div>
            </div>
            <h1 class="h4 mt-3 mb-3 fw-normal text-start">Friends</h1>
            <div class="col">
                <div class="mt-2 w-100">
                    <a class="btn btn-primary w-100" href="{% url 'send_friend_request' %}" role="button">Send Friend Request</a>
                </div>
                <div class="mt-2 w-100">
                    <a class="btn btn-primary w-100" href="{% url 'accept_friend_request' %}" role="button">Accept Friend Request</a>
                </div>
            </div>
        </form>
    </main>
{% endblock %}

