{% extends 'menus/base.html' %}
{% block title %}Forgot password{% endblock %}
{% block head %}
    <style>
        .form-input {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-input .checkbox {
            font-weight: 400;
        }

        .form-input .form-floating:focus-within {
            z-index: 2;
        }
    </style>
{% endblock %}
{% block bodyclass %}class="text-center bg-light"{% endblock %}
{% block content %}
    <main class="form-input">
        <form method="post">
            {% csrf_token %}
            <div class="mb-4" style="height: 57px;"></div>
            <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
            <p>Enter your email and we'll send you a link to reset your password</p>
            <div class="form-floating" style="padding: 2px;">
                {{ form.email }}
                <label>Email address</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Send Reset Link</button>
        </form>
    </main>
{% endblock %}