{% load i18n %}{% autoescape off %}
    {% blocktranslate %}A password reset was requested for your account. If you submitted this, please click the button
        below within 60 minutes from when you submitted the password reset form.{% endblocktranslate %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% translate "If you did not request a password reset, please ignore this message and your password will not be changed." %}

    Thank you,
    OnlineCasino Team
{% endautoescape %}
