{% extends 'menus/base.html' %}
{% load static %}
{% block title %}Reset Password - Reset{% endblock %}
{% block head %}
    <style>
        .form-input {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .text-area {
            width: 100%;
            max-width: 600px;
            padding: 15px;
            margin: auto;
        }

        .form-input {
            font-weight: 400;
        }

        .form-input .form-floating:focus-within {
            z-index: 2;
        }
    </style>
{% endblock %}
{% block bodyclass %}class="text-center bg-light"{% endblock %}

{% block content %}
    <main class="form-input">
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-4" style="height: 57px;"></div>
                <h1 class="h3 mb-3 fw-normal">Choose a new password</h1>
                <p class="card-text">Please enter your new password twice so we can verify you typed it in
                    correctly.</p>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Please retry.
                    </div>
                {% endif %}

                <div class="form-floating" style="padding: 2px;">
                    {{ form.new_password1 }}
                    <label>New password</label>
                </div>
                <script>document.getElementById('id_new_password1').setAttribute('class', 'form-control')</script>
                <div class="form-floating" style="padding: 2px;">
                    {{ form.new_password2 }}
                    <label>Confirm password</label>
                </div>
                <script>document.getElementById('id_new_password2').setAttribute('class', 'form-control')</script>
                <input type="submit" class="btn btn-primary mt-3" value="Change password">
            </form>
        {% else %}
            <main class="text-area">
                <div class="mb-4" style="height: 57px;"></div>
                <h1 class="h3 mb-3 fw-normal">Invalid Link</h1>

                <div style="padding: 2px;">
                    <p>The password reset link was invalid, possibly because it has already been
                        used. Please request a new password reset.</p>
                    <a href="{% url 'password_reset' %}" class="btn btn-primary">Reset Password</a>
                </div>
            </main>
        {% endif %}
    </main>
{% endblock %}