{% extends 'menus/base.html' %}
{% block title %}Signup{% endblock %}
{% block head %}
    <style>
        .form-input {
            width: 100%;
            max-width: 600px;
            margin: auto;
            padding: 0 15px 15px;
        }

        .form-input .checkbox {
            font-weight: 400;
        }

        .form-input .form-floating:focus-within {
            z-index: 2;
        }
    </style>
{% endblock %}
{% block bodyclass %}class="text-center bg-light"{% endblock %}
{% block content %}
    <main class="form-input">
        <form method="post">
            {% csrf_token %}
            <div class="mb-4" style="height: 57px;"></div>
            <h1 class="h3 mb-3 fw-normal">Signup</h1>
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    The form had errors
                </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.username }}
                        <label>Username</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.first_name }}
                        <label>First name</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.skill_level }}
                        <label>Skill level</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.bio }}
                        <label>Bio</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.password1 }}
                        <label>Password</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.withdraw_limit }}
                        <label>Monthly Withdraw Limit</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.email }}
                        <label>Email</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.last_name }}
                        <label>Last name</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.account_type }}
                        <label>Account type</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.birthday }}
                        <label>Birthday</label>
                    </div>
                    <div class="form-floating" style="padding: 2px;">
                        {{ form.password2 }}
                        <label>Password confirmation</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Sign up</button>
                </div>
            </div>
        </form>
    </main>
{% endblock %}