<div class="container">
    <div id="messages" class="form-input">
        <div class="row">
            <div class="col col-sm-2 text-start">
                <h2 class="h4 fw-normal text-start">Chat:</h2>
            </div>
            <div class="col col-sm-10 text-end">
                <button class="btn btn-sm btn-primary" type="button" id="copy-link-btn">
                    Copy Game Link
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <!-- Note: For whatever reason, textareas must all be on one line -->
                <textarea name="message-log" rows="15" style="width: 100%; padding: .5rem" disabled>You can send messages to other players here</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="new-message">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-lg btn-secondary mt-2" type="button" id="send-btn">
                    Send
                </button>
            </div>
        </div>
    </div>
</div>